:root {
  --firstColor: #000000;
  --secondColor: #1820EF;
  --thirdColor: #FF4E42;
  --fourthColor: #FFC024;
  --fifthColor: #FAFAED;
  --textNormal: 400;
  --textMedium: 500;
  --textExtraBold: 800;
  --textBlack: 900;
  --fontTitle: 1.7em;
  --fontMiddle: 1.2em;
  --fontHighlight: 3em;
  --fontOrder: 2.4em;
  --fontDefault: 16px;
  --fontSmall: 14px;
  --fontTiny: 12px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--fifthColor);
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* PRIMEIRA SEÇÃO */
.header {
  background-image: url("/assets/images/patternVermelha.webp");
  background-size: contain;
  height: 100vh;
}

.flexHeader {
  width: 100%;
  height: 100%;
  padding: 3em;
}

.flexHeader .child:nth-child(1) img {
  max-width: 180px;
  width: 100%;
}

.flexHeader .child:nth-child(2) {
  position: relative;
  text-align: start;
}

.flexHeader .child:nth-child(2) .headerContent:first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-65%, -40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8em;
}

.flexHeader .child:nth-child(2) .headerContent:first-child div {
  display: flex;
  align-items: end;
  gap: 10px;
}

.flexHeader .child:nth-child(2) .headerContent:first-child div p {
  color: var(--fourthColor);
  font-size: var(--fontHighlight);
  font-weight: var(--textBlack);
  line-height: 1.2;
  text-align: center;
}

.flexHeader .child:nth-child(2) .headerContent:first-child div section:first-child {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.flexHeader .child:nth-child(2) .headerContent:first-child div h3 {
  color: var(--fifthColor);
  font-weight: var(--textBlack);
  font-size: 140px;
  line-height: 0.8;
}

.flexHeader .child:nth-child(2) .headerContent:first-child > p {
  width: 30%;
  color: var(--fifthColor);
  font-size: var(--fontDefault);
  font-weight: var(--textNormal);
  text-align: start;
}

.flexHeader .child:nth-child(2) .headerContent:first-child > a {
  background-color: var(--secondColor);
  padding: 20px 15px;
  margin-block: 1em;
  border-radius: 50px;
  color: var(--fifthColor);
  font-size: var(--fontSmall);
  font-weight: var(--textExtraBold);
  letter-spacing: 2px;
}

.flexHeader .child:nth-child(2) .headerContent:first-child > a span {
  padding-left: 3.8em;
  vertical-align: middle;
  transition: padding-left 0.3s ease;
}

.flexHeader .child:nth-child(2) .headerContent:first-child > a:hover span {
  padding-left: 4.5em;
}

.flexHeader .child:nth-child(2) .headerContent:last-child {
  background-image: url('/assets/images/headerBackground.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.flexHeader .child:nth-child(2) .headerContent:last-child div:nth-child(1) {
  align-self: flex-start;
  > img {
    max-width: 120px;
    width: 100%;
  }
}

.flexHeader .child:nth-child(2) .headerContent:last-child div:nth-child(2) {
  align-self: center;
  > img {
    max-width: 450px;
    width: 100%;
  }
}

.flexHeader .child:nth-child(2) .headerContent:last-child div:nth-child(3) {
  align-self: center;
  > img {
    max-width: 120px;
    width: 100%;
  }
}

.orderArrow {
  max-width: 20px;
  width: 100%;
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
  .flexHeader .child:nth-child(2) .headerContent:first-child {
    left: 30%;
    top: 50%;
    transform: translate(-35%, -40%);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .flexHeader .child:nth-child(2) .headerContent:first-child {
    left: 0;
    bottom: 10%;
    transform: none;
  }
}

@media (max-width: 767px) {
  .header {
    background-size: cover;
  }

  .flexHeader {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }

  .flexHeader .child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .flexHeader .child:last-child {
    height: 100vh;
  }

  .flexHeader .child:nth-child(1) img {
    width: 120px;
    padding-bottom: 10px;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child {
    position: static;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  .flexHeader .child:nth-child(2) .headerContent:last-child {
    padding-inline: 1em;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child div section:first-child {
    display: flex;
    flex-direction: row!important;
    gap: 10px;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child div section:first-child p:nth-child(2) {
    transform: rotate(-90deg);
    margin-inline: 10px;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child div h3 {
    font-size: 120px;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child > p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .flexHeader .child:nth-child(2) .headerContent:first-child > a {
    display: none;
  }
}
/* FIM PRIMEIRA SEÇÃO */



/* SEGUNDA SEÇÃO */
.containerMenu {
  padding: 0 2em 3em;
}

.boxIngredients {
  padding-block: 1em;
  max-width: 1200px;
  margin: 0 auto; 
}

.containerIngredients {
  text-align: center;
  margin-block: 4em 6em;
}

.containerIngredients .chooseIngredientsTitle {
  color: var(--firstColor);
  font-size: var(--fontTitle);
}

.containerIngredients .chooseIngredientsDescription {
  color: var(--firstColor);
  font-size: var(--fontDefault);
  font-weight: var(--textMedium);
  line-height: 3;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  margin-top: 3em;
}

.ingredients .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(224, 219, 191, 0.6);
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 300ms ease;
}

.ingredients .item:hover {
  transform: scale(1.05);
}

.ingredients .item.active {
  border: 2px solid var(--secondColor);
  border-radius: 8px;
  background-color: var(--secondColor);
  color: var(--fifthColor);
  > h2, > p {
    color: var(--fifthColor);
  }
  > h4 {
    color: var(--fourthColor);
  }
}

.ingredients .item.active p {
  color: var(--fifthColor);
}

.ingredients .item h2 {
  font-weight: var(--textExtraBold);
  font-size: var(--fontTitle);
  color: var(--secondColor);
}

.ingredients .item img {
  max-width: 100px;
  width: 100%;
}

.ingredients .item p {
  font-size: var(--fontDefault);
  text-align: center;
  color: var(--firstColor);
}

.ingredients .item h4 {
  font-weight: var(--textExtraBold);
  font-size: var(--fontTitle);
  color: var(--thirdColor);
}

.price {
  text-align: center;
  font-size: var(--fontMiddle);
  font-weight: var(--textMedium);
}

.priceDisplay {
  color: var(--thirdColor);
  font-size: var(--fontTitle);
  margin-block: 6px 15px;
}

.sendOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--secondColor);
  padding: 20px 15px;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  color: var(--fifthColor);
  font-size: var(--fontSmall);
  font-weight: var(--textExtraBold);
  letter-spacing: 2px;
}

.btn span {
  padding-left: 1em;
  vertical-align: middle;
  transition: padding-left 0.3s ease;
}

.btn:hover span {
  padding-left: 1.5em;
}

.btn:disabled {
  background-color: #C5C5C5;
  color: var(--fifthColor);
  cursor: not-allowed;
  img {
    filter: grayscale(100%) sepia(15%) brightness(125%) saturate(150%);
  }
}

.sendOrder .message {
  content: 'You need to choose both ingredients';
  color: var(--thirdColor);
  font-size: 12px;
  display: block;
  margin-top: 5px;
  text-align: center;
}

.orderErrorMessage {
  text-align: center;
  font-size: 20px;
  color: var(--thirdColor);
}

/* loading */
.loading {
  width: 100%;
}

.loadingOrder {
  height: 100px;
}

.dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loading .dots {
  height: 100vh;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--thirdColor);
  border-radius: 20px;
  transform: translate(0px, -20px);
  animation: bounce 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translate(0px, -5px);
  }
  40% {
    width: 0px;
    height: 1px;
    transform: translate(0px, 10px) scale(1.7);
  }
  100% {
    height: 10px;
    transform: translate(0px, -5px);
  }
}
/* loading */

.reloadPage {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-inline: 1em;
}

@media (min-width: 1200px) {
  .ingredients .item {
    width: 350px;
    height: 350px;
    padding-inline: 1em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1999px) {
  .ingredients {
    gap: 1.5em;
  }

  .ingredients .item {
    justify-content: space-evenly;
    padding: 1.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .containerIngredients {
    margin-block: 2em 4em;
  }

  .ingredients {
    gap: 1.5em;
    margin-top: 1.5em;
  }

  .containerIngredients .chooseIngredientsDescription {
    line-height: 2;
  }

  .ingredients .item {
    padding: 1em 0.6em;
  }

  .ingredients .item img {
    width: 70px;
  }

  .ingredients .item h2,
  .ingredients .item h4 {
    font-size: var(--fontMiddle);
  }

  .ingredients .item p {
    font-size: var(--fontSmall);
  }

  .price {
    margin-top: 1em;
  }
}

@media (max-width: 767px) {
  .containerMenu {
    padding: 0 1em 3em;
  }

  .containerIngredients {
    text-align: center;
    margin-block: 3em 4em;
  }

  .ingredients .item {
    padding: 1em 0.8em;
  }

  .ingredients {
    gap: 12px;
    margin-top: 2em;
  }

  .ingredients .item img {
    width: 50px;
  }

  .ingredients .item h2,
  .ingredients .item h4 {
    font-size: var(--fontDefault);
  }

  .ingredients .item p {
    font-size: var(--fontSmall);
    line-height: 1.2;
  }

  .btn {
    font-size: 16px
  }
}

@media (max-width: 576px) {
  .containerMenu {
    padding: 0 0.5em 2em;
  }

  .containerIngredients {
    margin-block: 2em 4em;
  }

  .containerIngredients .chooseIngredientsTitle {
    line-height: 1.2;
  }

  .containerIngredients .chooseIngredientsDescription {
    line-height: 1.2;
    margin-top: 1em;
  }

  .ingredients .item {
    justify-content: space-between;
    padding: 15px 8px;
  }

  .ingredients .item img {
    width: 35px;
  }

  .ingredients .item p {
    font-size: var(--fontTiny);
    line-height: 1;
  }

  .ingredients .item h2 {
    line-height: 1;
  }
}
/* SEGUNDA SEÇÃO */

/* PEDIDO ENVIADO */
.orderSuccess {
  background-color: var(--fifthColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.orderSuccess .orderSucessItem {
  padding: 2em;
}

.orderSuccess .orderSucessItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.orderSuccess .orderSucessItem:first-child {
  background-image: url('/assets/images/patternAzul.webp');
  background-size: cover;
  background-position: center;
}

.orderSuccess .orderSucessItem:first-child .orderLogo {
  max-width: 130px;
  width: 100%;
  align-self: flex-start;
}

.orderSuccess .orderSucessItem:first-child img {
  max-width: 450px;
  width: 100%;
}

.orderSuccess .orderSucessItem:first-child .orderDescription {
  color: var(--fifthColor);
  font-size: var(--fontTitle);
  font-weight: var(--textExtraBold);
}

.orderSuccess .orderSucessItem:first-child h2 {
  color: var(--fourthColor);
  font-size: var(--fontOrder);
  font-weight: var(--textBlack);
  line-height: 1.2;
}

.orderSuccess .orderSucessItem:first-child .orderFinalPrice {
  color: var(--thirdColor);
  font-size: var(--fontTitle);
  font-weight: var(--textExtraBold);
}

.orderSuccess .orderSucessItem:last-child .thankingImage img {
  max-width: 80px;
  width: 100%;
}

.orderSuccess .orderSucessItem:last-child h4 {
  color: var(--fourthColor);
  font-size: var(--fontTitle);
  font-weight: var(--textExtraBold);
}

.orderSuccess .orderSucessItem:last-child h2 {
  color: var(--thirdColor);
  font-size: var(--fontOrder);
  font-weight: var(--textBlack);
  line-height: 1.2;
}

.orderSuccess .orderSucessItem:last-child p {
  color: var(--firstColor);
  font-size: var(--fontMiddle);
  font-weight: var(--textMedium);
  margin-bottom: 2em;
}

.orderSuccess .orderSucessItem:last-child .newOrder a {
  background-color: var(--secondColor);
  padding: 20px 15px;
  border-radius: 50px;
  color: var(--fifthColor);
  font-size: var(--fontSmall);
  font-weight: var(--textExtraBold);
  letter-spacing: 2px;
}

.orderSuccess .orderSucessItem:last-child .newOrder a span {
  padding-left: 1em;
  vertical-align: middle;
  transition: padding-left 0.3s ease;
}

.orderSuccess .orderSucessItem:last-child .newOrder a:hover span {
  padding-left: 1.5em;
}

@media (max-width: 991px) {
  .orderSuccess {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .orderSuccess .orderSucessItem:first-child h2,
  .orderSuccess .orderSucessItem:first-child .orderDescription {
    font-size: var(--fontTitle);
  }

  .orderSuccess .orderSucessItem:last-child h2 {
    font-size: var(--fontTitle);
  }

  .orderSuccess .orderSucessItem:last-child h4 {
    font-size: var(--fontMiddle);
  }

  .orderSuccess .orderSucessItem:last-child p {
    margin-bottom: 1.5em;
  }
}
/* PEDIDO ENVIADO */