* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF;
  font-family: "Questrial", sans-serif;
  color: #333;
  max-width: 800px;
  margin: 10px auto;
  padding-inline: 1em;
  box-shadow: 0px 0px 5px 0px #7d7d7d;
  border-radius: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
}

.logo img {
  max-width: 250px;
  width: 100%;
}

.serviceTitle h1 {
  font-size: 1.8em;
  text-align: center;
}

.containerIngredients {
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
  max-width: 600px;
  margin: 0 auto;
}

.containerIngredients .item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1em;
  gap: 10px;
}

.containerIngredients .item h2 {
  font-size: 20px;
  text-align: center;
}

.containerIngredients .item img {
  max-width: 100px;
  width: 100%;
}

.containerIngredients .item p {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
  width: 80%;
  color: #5E5E5E;
}

.containerIngredients .item h4 {
  font-size: 1.4em;
}

@media (max-width: 576px) {
  body {
    margin: 10px;
  }

  .logo {
      padding-block: 1em;
  }

  .logo img {
      width: 150px;
  }

  .serviceTitle h1 {
      font-size: 1.4em;
      text-align: center;
  }

  .containerIngredients .item {
    padding-inline: 10px;
  }

  .containerIngredients .item h2 {
    font-size: 18px;
  }

  .containerIngredients .item img {
    width: 60px;
  }

  .containerIngredients .item p {
    font-size: 12px;
    margin-top: 8px;
    width: 100%;
  }
}